<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> la communiste corp </title>
  </head>
  
  <body>
    
	 <style>
      body {
      -webkit-animation: colorchange 10s infinite;
      animation: colorchange 10s infinite;
      }
      @-webkit-keyframes colorchange {
     
      50%  {background: #FFFF00;}
      75%  {background: #FF0000;}
      
      }
      @keyframes colorchange {
      
      50%  {background: #FFFF00;}
      75%  {background: #FF0000;}
      
      }   
    </style>
	<basefont size="7"
	<strong><center> <img src="D:\123456.jpg" alt="communist corp"/> <center><strong>
	
	<p>
	<img src="C:\Users\jeanb\OneDrive\Images\discord\ab877a98753f1189ab2c6d4c6c9e6872.jpg" alt="la communist corp"/>
	</p>
  <p>la communiste corp est une chaine youtube entre trois amis completement singlés  </p>
 <img src="https://cdn.discordapp.com/attachments/831190912243597352/831191705956515870/FF_merePatrie.png" alt="la communist corp"/>
<ul>
	<p>des amis</p> 
	<p>du fun</p>
	<p>et encors du fun ^^</p>
</ul>
 <img src="https://media.discordapp.net/attachments/831190912243597352/831191550712610870/TG_THUNE.png" alt="la communist corp"/>
<p>enssemble détronons wankil studio!!!</p>
  
  <a href="https://www.youtube.com/channel/UCirHRNu-kLIfwZPXrF-fbwQ/featured">la chaine youtube</a> en cliquant sur lien ici 
  et le discorde <a href="https://discord.gg/sYDUHGunQD">ici^^</a>
  </strong></center>
  
  </basefont>
  
<img src="https://cdn.discordapp.com/attachments/831190912243597352/831191458908340285/BS_violenss.png" alt="la communist corp"/>

  
  
  
  
  
  
  
  
  
  
  
  
  </body>
  
</html>
